/* GENERAL STYLE */
/* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}


h1, h2, h3 {
    font-weight: 700
}

p {
    font-size: 15px;
    line-height: 22px;
}

h2 {
    font-size: 35px
}

.title-section {

}

/* Utilities */

.conteiner {
    width: 100%;
}

.medium {
    width: 85%;
    margin: 0 auto;
   
}

.small {
    width: 70%;
    margin: 0 auto;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both
}

.col {

}

.w-50 {
    width: 50%
}

.w-30 {
    width: 30%
}

.w-70 {
    width: 70%
}

.px-15 {
    padding-left: 10px;
    padding-right: 10px;
}

.pl-30 {
    padding-left: 30px
}

.pr-30 {
    padding-right: 20px
}

.pt-40 {
    padding-top: 40px
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px
}
.mt-180 {
    margin-top: 180px
}
.mt-150 {
    margin-top: 150px
}

.mt-30 {margin-top: 30px}

.mb-10 {margin-bottom: 10px}

.button {
    padding:  5px 13px;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.blue {
    background-color: #0061ff;
    color: white;
}

.white{
    background-color: #fff;
    padding: 5px 50px;
}

.border {
    background-color: transparent;
    border: 1px solid black;
    padding: 9px 15px;
    margin-top: 20px
}




/* HEADER */
.menu-item ul li {
    display: inline-block;
    margin-right: 35px;
    line-height: 70px;
    font-size: 15px;
}

.menu-item ul li a {
    color: black;
    text-decoration: none;
}

.menu-item ul li:last-child {
    margin-right: 0;
}

.brand img {
    vertical-align: middle;
    height: 20px;
    margin-bottom: 6px;
    
}

.nav-conteiner {
    border-bottom: 1px solid #a5d1e4
}

/* Jumbo */
.jumbo {
    background-color: #b4d0e7;
    padding-bottom: 100px
}

.jumbo-grid {
    margin-top: 40px;
}
.main-title h1 {
    font-size: 60px;
}

.icon-jumbo i {
    font-size: 50px
}

.icon-jumbo {
    margin-bottom: 100px;
}

.jumbo-img img {
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;

}

.jumbo-content {
    position: relative;
    top: 160px;
}

.jumbo-grid p {
    font-size: 13px;
}

/* Card Plan */
.card-radio input {
    margin-right: 5px
}
.card-radio label {
    margin-right: 30px
}

.card-grid {
    width: 100%;


}



.card-col {

    width: calc(100% / 3);
    height: 100%
}

.card-col-item {
    border: 1px solid  #dbdbde;
    width: 100%;
    height: 100%;
}
.card-col-type {
    text-align: center;
    padding: 10px;
    border: 1px solid #dbdbde; 

}

.card-col-type h3 {
    font-size: 14px;
    font-weight: 500;
}

.card-col-title h2 {
    font-size: 25px;
    line-height: 50px
}

.card-col-title h4 {
    font-weight: 700;
    line-height: 40px
}

.card-col-title span {
    color: #85919b;
    font-weight: 500;
    font-size: 12px;

}

.card-content {
    border: 1px solid  #dbdbde;
    height: 900px; /* TODO: cambiare altezza */
}

.card-details ul {
    list-style: none;;
}

.card-details li {
    font-size: 11px;
    margin-top: 5px
  
}

.card-details i {
    margin-right: 4px
}

.card-content .button {
    width: 100%;

}

.card-details h4 {
    line-height: 80px;
    font-size: 14px;
}

a {
    color: #2678ff
}

.line {
    height: 1px;
    width: 40px;
    background-color: #dbdbde;
}

.card-point i {
    color: #1b71ff
}

.card-point li {
    font-size: 14px;
    margin-bottom: 15px;
}

.card-point h3 {
    font-size: 15px
}

.line {
    
    border: 1px solid  #dbdbde;
}

.card-full {
    height: auto
}

.card-full  p {
    font-size: 11px;
    line-height: 60px;

}

.card-col-full:first-child {
    width: 70%
}
.card-col-full:last-child {
    width: 30%
}

 .card-col-full .button {
    width: 100%
}


/* Partner */
.partner {
  
    height: 450px;

}

.partner-img {
    width: 50%;
    height: 100%;
    background-image: url('../img/partner.png');
    background-size: cover;
}

.partner-text {
    height: 100%;
    width: 50%;
    padding: 21px;
}

.partner-text h2 {
    font-size:25px;
    margin-bottom: 30px
}

.partner-text p {
    line-height: 26px
}

/* Details */


.details-col {
    width: calc(100% / 3)
}

.details-item img {
    width: 100%;
}

.details-item h2 {
    font-size: 25px;
}
.details-item p {
    margin-top: 14px;
    font-size: 14px
}

/* Clients */

.clients > .section-title > a {
    line-height: 100px
}




.logo-grid {
    width: 30%;
}
.clients-text {width: 40%;}

.logo {
    width: 50%;
    height: 180px;

}

.logo img {
    width: 70%;
    margin: 0 auto;
    display: block;
    filter: invert();
}

.logo-1 {
    background-color: #a2d39b;
    border:8px solid #d0e9cd;
    padding-top: 60px
}

.logo-2 {
    background-color: #61082b;
    padding-top: 42px;
}

.logo-2 img {
    width: 60%;
}

.logo-3 {
    background-color: #0093ce;
    padding-top: 75px;
}

.logo-4 {
    background-color: #ff1c1c;
    padding-top: 55px;
}

.logo-4 img {
    width: 60%
}

.logo-5 {
    background-color: #d5001f;
    padding-top: 65px;
}

.logo-6{
    background-color: #b4d0e7;
    padding-top: 85px;
}

.logo-7 {
    background-color: #0d2481;
    padding-top: 55px;
}

.logo-8 {
    background-color: #ffd830;
    padding-top:60px;
}

.logo-8 img {
    width: 50%;
}

.clients-text {
    height: calc(180px * 2);
    background-color: #f5f5f5;
}

.clients-text {
    padding-top: 30px; 

}

.clients-text img  {
    height: 35px;
    margin-bottom: 30px
}

.clients-line {
    height: 1px
}

.clients-text p {
    font-size: 13px;
    margin-top: 30px
}

/* Banner */
.banners {
    height: 290px;
    width: 100%;
    background-color: #b4d0e7
}



.banner-title h2 {
    padding: 90px 20px;
    color: #61082b;
}

.banners-button .button {
    margin-top: 100px;
    margin-right: 5px;
}


/* faq */



.faq-section-title h2 {
    font-size: 25px;
}

.faq-conteiner {
    height: auto;
     width: 100%;
}

.faq-item {
    border-top: 1px solid #e4e4e6;
}

.faq-item:last-child {
    border-bottom: 1px solid #e4e4e6;
}
.faq-item p {
    font-weight: 700;
    padding: 20px 0px;
}

.faq-arrow i {
    font-size: 20px;
    padding: 20px 20px; 
}