/* GENERAL STYLE */
/* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

/* Utilities */

.conteiner {
    width: 100%;
}

.medium {
    width: 75%;
    margin: 0 auto;
}

.small {
    width: 65%;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both
}

.col {
}

.w-50 {
    width: 50%
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.button {
    padding:  5px 13px;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

.blue {
    background-color: #0061ff;
    color: white;
}

/* HEADER */
.menu-item ul li {
    display: inline-block;
    margin-right: 35px;
    line-height: 70px;
    font-size: 15px;
}

.menu-item ul li a {
    color: black;
    text-decoration: none;
}

.menu-item ul li:last-child {
    margin-right: 0;
}

.brand img {
    vertical-align: middle;
    height: 20px;
    margin-bottom: 6px;
    
}

.nav-conteiner {
    border-bottom: 1px solid #a5d1e4
}
